/* general styling */

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Texturina', serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}


/* end general styling */


/* header */

#top-header .container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-header .logo a {
    color: black;
}

#top-header .logo span {
    color: #73e298;
}

#top-header .container .menu {
    display: none;
}

#top-header .container nav a {
    margin: 20px;
    font-size: 1.2rem;
}


/* end header */


/* newsletter */

#newsletter {
    padding: 5rem;
    background: #252529;
}

#newsletter .newsletter-inner {
    color: white;
    margin: 0 auto;
    width: 600px;
    max-width: 90%;
    text-align: center;
    line-height: 2rem;
}

::placeholder {
    color: white;
    font-weight: 900;
}

.sign-up-form input {
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    padding: 1rem;
    background: transparent;
    margin: 40px 10px 40px 0px
}

.sign-up-form input:focus {
    border: 1px solid #73e298;
}

.sign-up-form button {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    width: 200px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #73e298;
    font-weight: 900;
    transition: 0.9s;
    color: #252529;
}

.sign-up-form button:hover {
    box-shadow: 5px 5px 40px 5px #73e298;
    background-color: transparent;
    color: white;
}


/* main-footer */

#main-footer {
    color: #8b8b9f;
    text-align: center;
    line-height: 1.8;
}


/* end main-footer */


/* end newsletetr */


/* media-queries */

@media(max-width:690px) {
    #newsletter {
        padding: 2rem;
        font-size: .8rem;
    }
    #newsletter .newsletter-inner {
        width: 400px;
        max-width: 90%;
    }
}